%h1 Edit your password
= form_for :user, url: profile_password_path, method: 'PATCH' do |f|
  = f.label :old_password
  = f.password_field :old_password
  = f.label :password
  = f.password_field :password
  = f.label :password_confirmation
  = f.password_field :password_confirmation
  = f.submit 'Change password'
