= form_for [:admin, user] do |f|
  = f.label :email
  = f.text_field :email
  = f.label :password
  = f.check_box :admin
  = f.label :admin, 'Promote to admin'
  = f.password_field :password
  = f.submit submit
